body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
}

.Wrap {
    background-color: lightblue;
    display: flex;
    flex: row;
}

.NearEarthObjectVisualizer {
    background-color: lightskyblue;
    border-style: solid;
    border-width: 1px;
    width: 50%;
    padding-left: 25px
}

.NearEarthObjectDisplay p {
    color: darkblue;
    margin: 0
}

.Alert {
    background-color: lightsalmon;
    font-weight: bold;
}